GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_SITE_ID=
GRAPH_DRIVE_ID=
GRAPH_FACTURAS_BASE_PATH=SPORTEK/2026/05 COMISIONES/5. XML FACTURAS/7. JULIO
GRAPH_FACTURA_SEARCH_RETRY_SECONDS=10
